.image{
    z-index: -1;
    width: 1500px;
    height: 1000px;
    align-items: center;
    background-position-x: 25%;
    opacity:0.5;
}

body {
  background: url('./assets/rectangle56.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 1500px 1000px;
}

.settings{
  width: 30px;
}

.pen{
  width: 30px;
}

.home_button{
  width: 30px;
}

.nav h1 {
  color: #0000FF;
  padding-top: 50px;
  align-content: center;
  margin-left: -60px;
  font-size: 45px;
  flex: 1;
}

a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}

a:hover {
  color: blue;
}

.nav {
  display: flex;
  height: auto;
}

.logo {
  height: 30%;
  width: 30%;
  margin-left: -150px;
  flex: 1;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.container {
  padding: 20px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: min-content;
}

.home_button img{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  margin-top: 2%;
  margin-right: 2%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  max-height: 2500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 20px;
  padding-top: 1%;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #0000FF;
}

button:hover, a:hover {
  opacity: 0.7;
}

.aj {
  margin-top: 5%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  opacity: 1;
}

.aj:hover {
  opacity: 0.5;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  line-height: 0.5;
}

.links {
  padding-bottom: 1%;
}
