.aj {
    margin-top: 10%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    opacity: 1;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .aj:hover {
    opacity: 0.5;
  }

  .fname, .lastname, .program, .year {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    max-height: 2500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 20px;
    padding-top: 1%;
  }
  
  button {
    width: 200px;
    height: 45px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: 0;
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 2%;
}

button:hover {
    background-color: #0000FF;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

.center {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}

.form-input {
  width:350px;
  padding:20px;
  background:#fff;
  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
              3px 3px 7px rgba(94, 104, 121, 0.377);
}
.form-input input {
  display:none;

}
.form-input label {
  display:block;
  width:45%;
  height:45px;
  margin-left: 25%;
  line-height:50px;
  text-align:center;
  background:#1172c2;

  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:5px;
  cursor:pointer;
}

.form-input img {
  width:100%;
  display:none;

  margin-bottom:30px;
}

.backButton{
  margin-left: 5%;
}