@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

.container {
  padding: 20px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid black;
  height: min-content;
}

.navbar {
  display: flex;
  height: auto;
}

.logo {
  height: 30%;
  width: 30%;
  margin-left: -50px;
  flex: 1;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar h1 {
  color: #0000FF;
  padding-top: 100px;
  align-content: center;
  margin-left: -75px;
  font-size: 40px;
  flex: 1;
}

.navbar .links {
  padding-top: 120px;
  margin-left: auto;
  max-width: fit-content;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}

.navbar a:hover {
  color: blue;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  height: 350px;
}

.flex-container div{
  text-align: center;
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 30px;
}

.flex-container div li {
  text-align: left;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
}

ul {
  /* list-style-image: url('./Components/Navbar/assets/check-mark.png'); */
  list-style: square url('./Components/Navbar/assets/check-mark.png');
}

.box1 {
  flex: 1;
}

.box2 {
  flex: 1;
}

.box3 {
  flex: 1;
}