@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container {
    padding: 20px;
    display: block; 
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid black;
    height: min-content;
  }
  
  .navbar {
    height: auto;
  }
  
  .logo {
    height: 30%;
    width: 30%;
    margin-left: -80px;
  }
  
  * {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
  }
  
  .navbar h1 {
    color: #0000FF;
    margin-left: -50px;
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: black;
  }
  
  .navbar a:hover {
    color: blue;
  }
  
  .content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }