body{
    background-color: #80A8E3;
    background-image: url('./assets/whitelogo.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
}

.payment{
    
}